@charset "utf-8";
/* CSS Document */
.navbar{margin-top:10px!important;text-align:center;background-color:rgb(49, 138, 86);}
.navbar-nav ul,.navbar-collapse ul{margin-right:auto;margin-left:auto;padding-left:20%}
.navbar-default .navbar-nav>li>a{color:rgb(255, 235, 0)!important}
h1,h2{color:rgb(49, 138, 86)}
h1,h2{font-size:1.2em}
.topvez{background-color:rgb(255, 235, 0);width:100%;margin-top:5px;text-align:center;padding-left:5%;padding-right:0}
ul,li{margin-left:auto!important;margin-right:auto!important}
.container1 {
	width: 100%;
	position: relative;
}

.container1.demo-1 {
	height: 100%;
	position: absolute;
}

body{overflow-x:hidden}


html, body {
  height: 100%;
}
.page-wrapper {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -60px; 
}
.page-wrapper:after {
  content: "";
  display: block;
}
.site-footer, .page-wrapper:after {
  /* .push must be the same height as footer */
  height: 60px; 
}
.site-footer {
  background:rgb(252, 238, 83)
}
* {
  margin: 0;
}
@media screen and (min-height: 767px) {
	
body{overflow:hidden}

}

.face{background:rgb(252, 238, 83);color:#3B5998;height:60px;padding:10px!important;margin-left:15px;text-align:center}
.face:hover{color:white;background:#3B5998}
.dief{text-align:center;background:rgb(252, 238, 83);color:rgb(49, 138, 86);padding:10px;height:60px}
.dief:hover{color:rgb(252, 238, 83);background:rgb(49, 138, 86)}
.design{color: #e86a32;}
.dev{color: #2980b9;}
#ske{padding:10px;height:60px;}
.vez{background:rgb(252, 238, 83);color:rgb(49, 138, 86);height:48px}
.vez:hover{color:rgb(252, 238, 83);background:rgb(49, 138, 86)}
.addresses{text-align:center}
.deift{padding:0!important}
.col-md-6 a{ text-decoration: none;!important;color:rgb(49, 138, 86)}
@media screen and (max-height: 766x) {
.page-wrapper{padding-left:5px;padding-right:5px}}



#mannfiltercom{text-align:left;font-size:1.3em}
