@charset "utf-8";
/* CSS Document */


* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -100px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 100px; 
}
.site-footer {
  background:rgba(240, 235, 116, 0.8);border-top:solid #00702F;
}
#left{background:transparent!important}
#left li{background: #edf1f2;!important /* Old browsers */
background: -moz-linear-gradient(top,  #edf1f2 48%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(48%,#edf1f2), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #edf1f2 48%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #edf1f2 48%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #edf1f2 48%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom,  #edf1f2 48%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf1f2', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
margin-top:2px!important;
border-left-width:10px;border-left-color:#FDED31;border-left-style:solid; }
#left li a{color:green}
#left li:hover{border-left-color:#00702F;}
#left .active,.active{border-left-color:#00702F;}
.contentcenter{background:rgba(256, 256, 256,1);padding:5%;padding-top:0;min-height:400px;font-size:1.3em;text-align:justify;font-family: 'Open Sans', sans-serif;line-height:1.5em}
.header h1{text-align:center;color:#318956!important;padding-bottom:3%;font-size:2em}
.active a{background-color:#028c3c!important;color:white!important;border-left-color:028c3c;border-left-style:solid;}
.design{color: #e86a32;}
.dev{color: #2980b9;}
.rightli{padding-right:15px}
body{overflow-y:visible}
h1,h2{font-size:1.5em}
.epi{text-align:center}
.deift{padding:0!important;text-align:center}
.theo{padding:5%;text-align:center}
.picdoc{margin-left:auto;margin-right:0}